@model ProductPaginationViewModel

@{
    ViewData["Title"] = "Manage Products";
}

@if (!string.IsNullOrWhiteSpace(ViewBag.CatalogInoperativeMsg))
{
    <p class="text-white bg-danger">@ViewBag.CatalogInoperativeMsg</p>
}

<div class="row mt-3 mb-3">
    <div class="col-md-7">
        <form method="get" asp-area="" asp-controller="Products" asp-action="Index" asp-route-search="@Model.PaginationViewModel.Search">
            <div class="form-row align-items-center">
                <div class="col-auto flex-grow-1 pr-0">
                    <input asp-for="Search" placeholder="What are you looking for?" class="form-control mb-2" />
                </div>
                <div class="col-auto align-self-md-end pl-0">
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-12">
        <h2 class="mb-3">Products</h2>
        @if (!Model.ProductIndexViewModels.Any())
        {
            <p class="bg-warning d-inline-block p-1">No products added yet.</p>
        }
        @for (int i = 0; i < Model.ProductIndexViewModels.Count; i += 4)
        {
            <div class="card-deck mt-2">
                @for (int k = 0; k <= 3 && k + i < Model.ProductIndexViewModels.Count(); k++)
                {
                    <div class="card p-0">
                        <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@Model.ProductIndexViewModels[k + i].Id" asp-route-fromPage="@Model.PaginationViewModel.CurrentPage">
                            <div class="card-img-wrapper">
                                <img class="card-img-top" src="@Model.ProductIndexViewModels[k + i].ImageUrl" alt="Image">
                            </div>
                        </a>
                        <div class="card-body">
                            <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@Model.ProductIndexViewModels[k + i].Id" asp-route-fromPage="@Model.PaginationViewModel.CurrentPage">
                                <h5 class="card-title">@Model.ProductIndexViewModels[k + i].Name</h5>
                                <p class="card-text">Description: @Model.ProductIndexViewModels[k + i].Description</p>
                                <p class="card-text">Price: $@Model.ProductIndexViewModels[k + i].Price</p>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <form method="post" asp-area="" asp-controller="ShoppingCarts" asp-action="AddProduct">
                                <input type="hidden" name="ProductId" value="@Model.ProductIndexViewModels[k + i].Id" />
                                <input type="hidden" name="FromPage" value="@Model.PaginationViewModel.CurrentPage" />
                                <button class="btn btn-primary w-100">Add to Trolley</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

<partial name="_PaginationPartial" model="Model.PaginationViewModel" />
