@model ProductDetailsViewModel

@{
    ViewData["Title"] = "Product Detail";
}
<h2 class="text-danger">Admin</h2>

@if (!string.IsNullOrWhiteSpace(ViewBag.CatalogInoperativeMsg))
{
    <p class="text-white bg-danger">@ViewBag.CatalogInoperativeMsg</p>
}

<div class="row mb-2">
    <div class="col-md-4">
        <img src="@Model.ImageUrl" alt="Image" class="card-img">
    </div>
    <div class="col-md-8">
        <h5>@Model.Name</h5>
        <p>Price: $@Model.Price</p>
        <p>Stock Available: @Model.StockAvailable</p>
        <p>Weight in Kg: @Model.Weight</p>
        <p>Description: @Model.Description</p>
        <p>Date Added: @Model.DateAdded.ToString("dd/MMMM/yyyy HH:mm")</p>
        <p>Date Last Updated: @Model.LastUpdated.ToString("dd/MMMM/yyyy HH:mm")</p>
        <p class="d-md-inline-block p-2 text-white bg-@(Model.IsArchived ? "danger" : "success")">@(Model.IsArchived ? "Archived" : "Not Archived")</p>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-12">
        <div class="d-md-flex flex-md-row flex-md-wrap">
            <div class="product-image">
                <img src="@Model.ImageUrl" alt="Image" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a asp-area="Admin" asp-controller="Products" asp-action="Index" asp-route-currentPage="@Model.FromPageNumber" class="btn btn-secondary w-25">Back</a>
    <a asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id" asp-route-fromPage="@Model.FromPageNumber" class="btn btn-primary w-25">Edit</a>
</div>